{% extends "layout.twig" %}

{% block content %}
  <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <img class="mx-auto" src="/public/img/lalaz.svg" alt="Lalaz Logo">
      <p class="mt-6 text-base leading-7 text-gray-900 font-semibold">Lalaz - MVC made simple!</p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Welcome aboard</h1>
      <p class="mt-2 text-base leading-7 text-gray-600">As we say keep it simple and stupid :p</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#" class="rounded-md bg-cyan-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-cyan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Check Docs</a>
        <a href="#" class="text-sm font-semibold text-gray-900">Github <span aria-hidden="true">&rarr;</span></a>
      </div>
    </div>
  </main>
{% endblock %}
