<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
  <script type="module" src="{{ asset('assets/js/main.js') }}"></script>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
