<!doctype html>
<html lang="en" class="dark">
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ asset('assets/img/icon.svg') }}" type="image/svg+xml">
  <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
</head>
<body>
  {% block content %}{% endblock %}
  <script type="module" src="{{ asset('assets/js/main.js') }}"></script>
</body>
</html>
